<div class="auth-container">
  <div class="auth-box">
    <h2>Sign In</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input id="username" formControlName="username" type="text" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('username')?.invalid && (signInForm.get('username')?.touched || signInForm.get('username')?.dirty)">
          Nombre de usuario es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="realName">Nombre real</label>
        <input id="realName" formControlName="realName" type="text" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('realName')?.invalid && (signInForm.get('realName')?.touched || signInForm.get('realName')?.dirty)">
          Nombre real es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('email')?.invalid && (signInForm.get('email')?.touched || signInForm.get('email')?.dirty)">
          Email válido es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" type="password" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('password')?.invalid && (signInForm.get('password')?.touched || signInForm.get('password')?.dirty)">
          Contraseña es requerida.
        </div>
      </div>
      <div class="form-group">
        <label for="address">Dirección</label>
        <input id="address" formControlName="address" type="text" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('address')?.invalid && (signInForm.get('address')?.touched || signInForm.get('address')?.dirty)">
          Dirección es requerida.
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Número de Teléfono</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="tel" class="auth-input">
        <div class="auth-error" *ngIf="signInForm.get('phoneNumber')?.invalid && (signInForm.get('phoneNumber')?.touched || signInForm.get('phoneNumber')?.dirty)">
          Número de teléfono es requerido.
        </div>
      </div>
      <button type="button" class="auth-button" (click)="goBack()">Regresar</button>
      <button type="submit" class="auth-button" [disabled]="!signInForm.valid">Siguiente</button>
    </form>
  </div>
</div>
