<div class="profile-container">
    <div class="profile-box">
      <h2>Editar Perfil</h2>
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="photo">Cambiar Foto</label>
          <input id="photo" formControlName="photo" type="file" (change)="onFileSelected($event)" class="profile-input">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Numero de telefono</label>
            <input id="phoneNumber" formControlName="phoneNumber" type="phoneNumber" class="profile-input">
        </div>
        <button type="submit" class="profile-button" [disabled]="!profileForm.valid">Guardar Cambios</button>
      </form>
    </div>
  </div>
